@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.landing {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    background: linear-gradient(to right, #8e54e9, #4776e6);
    padding-left: 1.6rem;

    &__title {
        @include font-baloo;
        color: #fff;
        font-size: 3rem;

        position: absolute;
        top: 1.6rem;
        left: 1.6rem;
    }

    &__card {
        background: #fff;
        border-radius: 2px;
        display: inline-block;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

        &:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0, 0, 0, 0.22);
        }
    }

    &__stats {
        width: 300px;
        height: 50%;
        flex-shrink: 0;
    }

    &__avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    &__name {
        font-family: Helvetica, sans-serif;
        font-size: 1.7rem;
        text-transform: capitalize;
        text-align: center;
        display: block;
        padding-top: 0.8rem;
        color: #111;
    }

    &__plants {
        width: 90%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        // padding-top: 10%;
        overflow-y: scroll;
        height: 50%;

        &__title {
            color: #fff;
        }

        &__single {
            height: 400px;
            width: 300px;
            margin-left: 150px;
            margin-bottom: 100px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track-piece {
    background-color: transparent;
    -webkit-border-radius: 6px;
}
