@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.landing {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    &__title {
        @include font-baloo;
        color: #fff;
        font-size: 3rem;
        position: absolute;
        top: 1.6rem;
        left: 1.6rem;
    }

    &__card {
        background: #fff;
        border-radius: 2px;
        display: inline-block;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

        &:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0, 0, 0, 0.22);
        }
    }

    &__stats {
        width: 158px;
        height: 100%;
        flex-shrink: 0;
        background: #0049c5;
    }

    &__avatar {
        width: 110px;
        height: 110px;
        display: block;
        margin: 0 auto;
        border-radius: 50%;
    }

    &__name {
        font-family: Helvetica, sans-serif;
        font-size: 1.7rem;
        text-transform: capitalize;
        text-align: center;
        display: block;
        padding-top: 0.8rem;
        color: #fff;
        letter-spacing: 1px;
    }

    &__plants {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow-y: scroll;
        height: 600px;

        &__title {
            color: #fff;
        }

        &__single {
            height: 400px;
            width: 300px;
            margin-left: 150px;
            position: relative;
            font-family: Helvetica, sans-serif;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }

            border-bottom: 3px solid #0049c5;
        }

        &__img {
            width: 150px;
            height: 160px;
        }

        &__icon {
            font-size: 25px;
            &--temp {
                position: absolute;
                display: flex;
                align-items: center;
                svg {
                    fill: #e74c3c;
                }
                top: 10px;
                right: 10px;
            }

            &--humid {
                position: absolute;
                top: 45px;
                svg {
                    fill: #3498db;
                }
                right: 10px;
            }

            &--light {
                position: absolute;
                top: 75px;
                svg {
                    width: 35px;
                    height: 30px;
                    fill: #e67e22;
                }
                right: 4px;
            }
        }
    }
}

::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track-piece {
    background-color: transparent;
    -webkit-border-radius: 6px;
}

.temp-value {
    font-size: 12px;
}

.menu {
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    &__active {
        border-bottom: 1px solid #fff;

        .icon {
            &__active {
                fill: #fff;
            }
        }
    }
}

.main {
    &__view {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.avatar-wrap {
    position: absolute;
    top: 75px;
}

.specy {
    position: absolute;
    top: 16px;
    left: 15px;
    font-size: 13px;
    font-style: italic;
    letter-spacing: 1px;
}

.age {
    position: absolute;
    bottom: 20px;
    left: 16px;
    font-size: 12px;
    display: flex;
    align-items: center;

    &_ico {
        padding-right: 5px;
    }
}

.health {
    position: absolute;
    bottom: 20px;
    right: 32px;
    font-size: 12px;
    display: flex;
    align-items: center;
    &_ico {
        padding-right: 5px;
    }
}

.landing__achievment {
    &__title {
        font-size: 30px;
        font-family: Helvetica, sans-serif;
        position: absolute;
        top: 50px;
        left: 320px;
        @include font-baloo;

        &__2 {
            top: 500px;
            left: 320px;
        }
    }

    .landing__card__1 {
        flex-direction: row;
        padding: 50px;
        position: absolute;
        top: 150px;
        left: 320px;
        border-top: 3px solid $vermillion;
    }
}

.badge_1,
.badge_2,
.badge_3,
.badge_4 {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0.8px;
    div {
        padding-top: 10px;
    }
}

.badge_1 {
    padding-right: 100px;
    img {
        width: 150px;
    }
}

.badge_2 {
    img {
        width: 150px;
    }
}

.badge_3 {
    padding-left: 100px;
    img {
        width: 150px;
    }
}

.badge_4 {
    padding-left: 100px;
    img {
        width: 150px;
    }
}

.landing__card__2 {
}

.tabela {
    top: 600px;
    position: absolute;
    width: 500px;
    left: 320px;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    justify-content: flex-start;
    padding: 15px;
    td {
        padding: 20px;
    }

    tr {
        width: 400px;
    }

    th {
        padding-right: 40px;
    }

    border-top: 3px solid $vermillion;
}
