<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="icon" href="<%= require('./assets/favicon.png') %>" type="image/png">
</head>

<body>
    <div class="content ">
        <img src="<%= require('./assets/webpack.svg') %>" alt="webpack-logo" class="content__logo">
    </div>
</body>


</html>